@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb:0,0,0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb:253,253,253;
    --background-end-rgb:253,253,253;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.bg-image-person{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),  url('../../public/assets/images/human-dog.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-dog{
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../../public/assets/images/dog-spa.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-vter {
  background: linear-gradient(267.72deg, #3399FF -0.89%, rgba(51, 153, 255, 0) 137.86%), url('../../public/assets/images/img-sub-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.bg-image-vter::after {
  content: "";
  background-image: url('../../public/assets/images/Vector1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.icon-desbor{
  top: -35px;
  position: relative;
}
.max-width130{
  max-width: 1200px;
}
.wrapper-wave {
  position: relative;
  width: 100%;
  height: 200px;
}

.wave-container-white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.wave-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}



.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.brandsImg {
  border-radius: 50%;
  object-fit: none;
  width: 200px;
  /* height: 300px; */
  overflow: hidden;
  margin: 10px 10px;
}